.saiful {
  text-decoration: none !important;
  color: #000;
}
.profile-sidebar {
  background-color: #fff;
  text-align: center;
  padding-top: 10px;
}
.wrapper {
  min-height: 100vh;
  max-height: 100%;
  background: #f0f3f4;
}
.user-details {
  margin-top: 10px;
}
.user-details .nav-link {
  display: flex;
  justify-content: space-between;
  color: #000;
  font-size: 14px;
}
.profile-userbuttons {
  margin-top: 10px;
}
.mr-2 {
  margin-right: 8px;
}
.mr-3 {
  margin-right: 10px;
}
.text-right {
  text-align: right;
}
.header {
  background: #fff;
}
.nav-item .nav-link {
  color: #000;
}
.nav-item .nav-link:hover {
  color: #fff;
  background-color: #eb6126;
}
.footer {
  text-align: center;
}
.ml-4 {
  margin-left: 20px;
}
.alert-success,
.alert-danger {
  text-align: center;
}
.articlesList-section {
  padding: 40px 5px;
  background: #f0f3f4;
}
.table {
  background: #fff;
}
thead button {
  border: 0;
  border-radius: none;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  padding: 0.5em;
  margin-bottom: 1px;
  background: #fff;
}

thead button.ascending::after {
  content: '👇';
  display: inline-block;
  margin-left: 1em;
}

thead button.descending::after {
  content: '☝️';
  display: inline-block;
  margin-left: 1em;
}

.articlesList-section .load-more {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid rgb(0 0 0 / 11%);
}
.ml-auto {
  margin-left: auto;
}

.theme-outline-btn {
  color: #eb6126;
  border-color: #eb6126;
}
.theme-outline-btn:hover {
  color: #fff;
  background-color: #eb6126;
}
.theme-btn {
  color: #fff;
  background-color: #eb6126;
}
.theme-btn:hover {
  color: #eb6126;
  background-color: #fff;
}
.btn-right {
  margin-right: 5px;
}
.post_add {
  text-align: right;
  margin-bottom: 10px;
}
.hide {
  display: none;
}
.card-email {
  font-size: 15px;
  color: #eb6126;
  margin-right: 10px;
  font-weight: bold;
}
.card-name {
  font-size: 15px;
  color: #000;
}
